/*reset  */
body, html, h1, h2 {
	padding: 0%;
	margin: 0%;

}

body {
	font: normal 100%/1.5 sans-serif;
}

a {
	text-decoration: none;
}

header {
	padding: 40px;
}

header h1 {
	text-align: left;
	font-size: 2em;
	color: white;
}

#left {
	background-image: url("../assets/images/marc-hammond.jpg");
	background-image: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 50em;
	height: 100px;
	width: 50%;
}

section {
	display: flex;
}

#right h1 {
color: ;
font-size 44px;
font-weight: 300;

}

#right p {
	max-width: 65%;
}

#right p img {
	max-height: 32px;
	margin-bottom: -7px;

}

#right li {
	display: inline;
}

#right li a {
	color: lightgray;
}

#right li a:hover {
	color: #252525;
}

#right ul {
	display: flex;
	justify-content: space-between;
	width: 30px;
}

